.materia-box {
    border: 1px solid #ccc; /* Borde para los cuadros */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .label {
    font-weight: bold;
  }
  
  .data {
    color: #333; /* Color de texto para los datos */
  }
  ion-card-content {
    text-align: justify;
  }
  