<app-header [isAuth]="true" [isModal]="true" [title]="alumnos ? 'Actualizar Alumno' : 'Agregar Alumno'"></app-header>

<ion-content>
  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!-- Carnet -->
    <app-custom-input autocomplete="carnet" [control]="form.controls.carnet" type="text"
      label="Carnet"></app-custom-input>
    <div class="validators" *ngIf="form.controls.carnet.errors && form.controls.carnet.touched">
      <div *ngIf="form.controls.carnet.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.carnet.errors['minLength']">4 caracteres mínimos requeridos</div>
    </div>

    <!-- Nombre -->
    <app-custom-input autocomplete="nombre" [control]="form.controls.name" type="text"
      label="Nombre"></app-custom-input>
    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.name.errors['minLength']">2 caracteres mínimos requeridos</div>
    </div>

    <!-- Apellido -->
    <app-custom-input autocomplete="apellido" [control]="form.controls.apellido" type="text"
      label="Apellido"></app-custom-input>
    <div class="validators" *ngIf="form.controls.apellido.errors && form.controls.apellido.touched">
      <div *ngIf="form.controls.apellido.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.apellido.errors['minLength']">4 caracteres mínimos requeridos</div>
    </div>

    <!-- Correo Electrónico -->
    <app-custom-input autocomplete="email" [control]="form.controls.email" type="email"
      label="Correo Electrónico"></app-custom-input>
    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
      <div *ngIf="form.controls.email.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.email.errors['email']">Dirección de correo no válida</div>
    </div>

    <!-- Ciclo -->
    <app-custom-input autocomplete="ciclo" [control]="form.controls.ciclo" type="number"
      label="Ciclo"></app-custom-input>
    <div class="validators" *ngIf="form.controls.ciclo.errors && form.controls.ciclo.touched">
      <div *ngIf="form.controls.ciclo.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.ciclo.errors['min']">4 caracteres mínimos requeridos</div>
    </div>

    <!-- Notas -->
    <app-custom-input autocomplete="nota1" [control]="form.controls.nota1" type="number"
      label="Nota 1"></app-custom-input>
    <div class="validators" *ngIf="form.controls.nota1.errors && form.controls.nota1.touched">
      <div *ngIf="form.controls.nota1.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.nota1.errors['min']">El valor debe ser mayor o igual a 0</div>
    </div>

    <app-custom-input autocomplete="nota2" [control]="form.controls.nota2" type="number"
      label="Nota 2"></app-custom-input>
    <div class="validators" *ngIf="form.controls.nota2.errors && form.controls.nota2.touched">
      <div *ngIf="form.controls.nota2.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.nota2.errors['min']">El valor debe ser mayor o igual a 0</div>
    </div>

    <app-custom-input autocomplete="nota3" [control]="form.controls.nota3" type="number"
      label="Nota 3"></app-custom-input>
    <div class="validators" *ngIf="form.controls.nota3.errors && form.controls.nota3.touched">
      <div *ngIf="form.controls.nota3.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.nota3.errors['min']">El valor debe ser mayor o igual a 0</div>
    </div>

    <app-custom-input autocomplete="nota4" [control]="form.controls.nota4" type="number"
      label="Nota 4"></app-custom-input>
    <div class="validators" *ngIf="form.controls.nota4.errors && form.controls.nota4.touched">
      <div *ngIf="form.controls.nota4.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.nota4.errors['min']">El valor debe ser mayor o igual a 0</div>
    </div>

    <!-- Promedio -->
    <app-custom-input autocomplete="promedio" [control]="form.controls.promedio" type="number"
      label="Promedio"></app-custom-input>
    <div class="validators" *ngIf="form.controls.promedio.errors && form.controls.promedio.touched">
      <div *ngIf="form.controls.promedio.errors['required']">Este campo es necesario</div>
      <div *ngIf="form.controls.promedio.errors['min']">El valor debe ser mayor o igual a 0</div>
    </div>

    <!-- Select de Materias -->
    <ion-item>
      <ion-label>Materia</ion-label>
      <ion-select formControlName="materiaId" (ionChange)="onSelectMateria($event)">
        <ion-select-option *ngFor="let m of materias" [value]="m.aid">{{ m.name }}</ion-select-option>
      </ion-select>
    </ion-item>


    <!-- Botón de Envío -->
    <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
      {{ alumnos ? 'Actualizar Alumno' : 'Agregar Alumno' }}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>

  </form>
</ion-content>