<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-header>
</ion-header>
<ion-content>
  
  <h1 class="title">Gestión de Notas ULS</h1>

  <div class="image-container">
    <img src="assets/img/images-home.png" alt="Descripción de la imagen" class="center-image">
  </div>

  <ion-card class="click-card" (click)="toggleWelcomeContent()">
    <ion-card-header>
      <ion-card-title class="click-title">Click Aquí</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card class="custom-card" *ngIf="showWelcomeContent" (click)="toggleWelcomeContent()">
    <ion-card-header>
      <ion-card-title class="welcome-title">Bienvenidos!</ion-card-title>
    </ion-card-header>
    <ion-card-content class="welcome-content">
      <!-- Contenido de bienvenida -->
      ¡Bienvenido a nuestra aplicación de gestión de notas! Organiza, administra y comparte notas de manera eficiente y segura. Aprovecha la sincronización en tiempo real, la autenticación segura y la capacidad de enviar notas por correo electrónico. También puedes generar reportes PDF para un análisis detallado de los progresos académicos de los estudiantes.
    </ion-card-content>
  </ion-card>


  <div style="display: block;">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      type="bar">
    </canvas>
  </div>
  
  
 
</ion-content>

