ion-button {
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .image-container {
    margin-top: -40px; /* Ajusta la cantidad de píxeles según sea necesario */
  }
  
 
  

  
  
  