ion-card {
    gap: 20px; /* Espacio entre elementos dentro de la tarjeta */
    padding: 20px; /* Espacio interno de la tarjeta */
    border-radius: 10px;
  }
  
  card-content {
    margin-top: 20px; /* Margen superior para separar el contenido de la tarjeta */
  }
  
  ion-content {
    --padding-bottom: 70px;
  }

  ion-card-content {
    text-align: justify;
  }
  

