.name {
    font-family: Arial, sans-serif; /* Cambia la fuente */
    font-size: 24px; /* Cambia el tamaño de la fuente */
    color: #333; /* Cambia el color del texto */
    padding: 20px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Redondea las esquinas */
    background-color: #fbff00; /* Cambia el color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
}


